{% extends 'base/base.html' %}
{% load static %}
{% block title %}About{% endblock %}

{% block css %}
<style>
    p {
        font-family: "Roboto Condensed", "Noto Sans JP", sans-serif;
    }

    .aboutsite{
        padding: 0.5em 1em;
        margin: 1em 0;
        background: #f4f4f4;
        border-left: solid 6px #5bb7ae;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
    }

    .aboutowner{
        padding: 0.5em 1em;
        margin: 1em 0;
        background: #f4f4f4;
        border-left: solid 6px #5bb7ae;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
    }

    .aboutowner img{
       text-align: left;
    }
</style>
{% endblock %}

{% block body %}
<div class="aboutsite">
    <h2>About Site</h2>
    <p>本サイトは、技術系(プログラミング)や日常系(趣味についてなど)を掲載するブログアプリです。随時追加機能も搭載する予定なので応援していただけると幸いです！<br>
    主に技術系では、新しく学んだことのアウトプットや学んだことを分かりやすいように伝える記事を書いていきます。<br>
    日常系では、趣味や日々のつぶやきなどを投稿していこうと思います。</p>
</div>
    
<div class="aboutowner">    
<h2>About me</h2>
<img src="{% static 'img/taitologo.jpg' %}" class="img-fluid rounded mx-auto" alt="Responsive image" width="40%">
<ul>
    <li>名前：田中 泰斗</li>
    <li>生年月日：2000年12月11日</li>
    <li>所属：INIAD(東洋大学情報連携学部情報連携学科2年)</li>
    <li>趣味：ファッション/サッカー/ゴルフ/釣り/カフェ巡りetc...</li>
    <li>スキル(言語)：Python, C, Go(基礎的), C#(Unityを学ぶ際に触った程度), HTML/CSS, JavaScript, TypeScript(触った程度)</li>
    <li>スキル(ツール、フレームワーク)：Django, Heroku, GitHub, GitLab, Git, Docker(触った程度)</li>
</ul>
<p>現役の情報系大学生です。主にWebアプリケーション開発やサーバーサイドに興味があります。大学では、コンピュータサイエンスやIoTなどの組込みシステムを勉強中。残りの大学生活ではJavaでのAndroidアプリの開発、ソフトウェア開発。Ocamlを学習予定。
    現在は独学でPythonを用いた機械学習とGolangを勉強中。たまにTypeScriptも勉強してます。
</p>
</div>

{% endblock %}