{% extends 'base/base.html' %}
{% load static %}
{% block title %}Contact{% endblock %}

{% block css %}
<style>
    p {
        font-family: "Roboto Condensed", "Noto Sans JP", sans-serif;
    }

    .privacy{
        color:black;
    }

    .contact{
        padding: 0.5em 1em;
        margin: 1em 0;
        background: #f4f4f4;
        border-left: solid 6px #5bb7ae;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
    }
</style>
{% endblock %}

{% block body %}
<h2>Contact</h2>
<div class="contact">
    <h2>お問い合わせ頂く前に</h2>
    <ul>
        <li><a class="privacy" href="{% url 'privacypolicy' %} ">プライバシーポリシー</a>に同意の上、お問い合わせをお願いします。お問い合せいただきました際は、ご同意いただけたものとみなします。</li>
        <li>返信いたしますメールは、お問い合せいただきましたユーザー様に対して返信させていただくことを目的としています。許可なくメールの一部または全体を転載、二次使用すること、ならびに当該お客さま以外に開示することは固くお断りいたします。</li>
        <li>ご返事までに数日要する場合がございますので予めご了承ください。また、全てのお問い合わせに対応できない場合がございます。</li>
    </ul>
</div>

<div class="contact">
    <h2>お問い合わせ先</h2>
    <b>taito1211.contact@gmail.com</b>
</div>

{% endblock %}