{% extends 'base/base.html' %}

{% block title %}Article all{% endblock %}

{% block css %}
<style>
        a{
            font-size: 20px;
        }

        .card:hover {
            box-shadow: 0 5px 10px black;
            transform: translate(0, -5px);
        }
</style>
{% endblock %}

{% block jumbotron %}
<h1 class="h3">My All Blogs</h1>
{% endblock %}

{% block body %}
<div class="row">
    {% for article in articles %}
    <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <a class="text-primary stretched-link" href="{% url 'view_article' article.pk %}">{{ article.title }}</a>
                    </div>
                    <div class="col-12">
                        <small>[{{ article.posted_at }}]</small>
                    </div>
                    <div class="col-12">
                        <b>{{ article.pv }} views</b>
                    </div>
                    <div class="col-12">
                        {% for tag in article.tags.all %}
                        <b class="tags">{{ tag }}</b>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}