<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ article.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            function getCookie(name) {
            var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                         if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                crossDomain: false, // obviates need for sameOrigin test
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        });
        //ここまでおまじないと思って記述
        //以下Ajax
        function api_like() {
            var api_url = "{% url 'ine' pk=article.pk %}";
            var btn = document.getElementById("like");
            var request = new XMLHttpRequest();
            request.onreadystatechange = function () {
                if (request.readyState === 4 && request.status === 200) {
                    var received_data = JSON.parse(request.responseText);
                    btn.innerText = received_data.count;
                }
            }
            request.open("GET", api_url);
            request.send();
        }
    </script>
</head>
<body>
    <p><a href="{% url 'index' %}">トップページへ</a></p>
    <p><a href="{% url 'article_all' %}">一覧へ戻る</a></p>
    <h3>{{ article.title }}</h3>
    <small>投稿日時 : {{ article.posted_at }}</small>
    <small>最終更新 : {{ article.last_modify }}</small>
    <p>{{ article.text }}</p>
    <p><a onclick="api_like()"><span id="like">{{ ine }}</span>いいね！</a></p>
    
    <form action="" method="POST">
        <p><label for="com">コメント</label></p>
        {% csrf_token %}
        <textarea name="text" id="com" cols="30" rows="10"></textarea>
        <button type="submit">投稿</button>
    </form>

    {% for comment in article.comments.all %}<!-- 記事に対するコメントを全件取得 -->
        <p>{{ comment.text }}<br><small>{{ comment.posted_at }}</small></p>
    {% empty %}
    <p>コメントはありません</p>
    {% endfor %}

</body>
</html>